.DS_Store
Skien_weather_met.no/_client_id.txt
Skien_weather_met.no/_curl.txt
Skien_weather_met.no/_test1.py
Skien_weather_met.no/_test2.py
Skien_weather_met.no/_test3.py

.vscode/settings.json
Skien_weather_met.no/.DS_Store
